@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* font-family: 'Press Start 2P', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Press Start 2P';
    background-color: #7c8284;
    color: rgb(0, 0, 0);
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.timer__heading {
    font-size: 7rem;
    user-select: none;
}

.inputsWrapper {
    display: flex;
}

.timer-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-input__input {
    width: 19rem;
    height: 19rem;
    text-align: center;
    font-size: 5rem;
    background-color: #ced1d1;
    border: .2rem solid #7c8284;
    color: rgb(0, 0, 0);
}

.timer-input__label {
    margin: 1.8rem 0 5rem 0;
    font-size: 2.4rem;
    cursor: pointer;
}

.button {
    width: 7rem;
    height: 7rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button__edit {
    background-image: url('../assets/done.svg')
}

.button__edit--is-edit {
    background-image: url('../assets/edit.svg')
}

.button__stop {
    background-image: url('../assets/play.svg');
}

.button__stop:disabled {
    opacity: .4;
    cursor: initial;
}

.button--is-stop {
    background-image: url('../assets/pause.svg');
    background-size: 100%;
}

.button__refresh {
    background-image: url('../assets/refresh.svg');
}

.button__refresh:disabled {
    opacity: .4;
    cursor: initial;
}


.button__alarm {
    transition: transform .3s;
}

.button__alarm:hover {
    transform: scale(1.5);
}

.button__alarm-icon {
    fill: #523d42;
    animation: alarm .2s infinite;
}

.button__alarm-icon:hover {
    fill: #7ffabf;
    animation: paused;
}

.button__alarm--is-active {
    visibility: hidden;
    cursor: initial;
}

@keyframes alarm {
    0% {transform: translateX(-2px);}
    100% {transform: translateX(2px);}
}
